* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.section-header {
  font-family: 'Titillium Web', sans-serif;
  color: white;
  background-color: #87509c;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.section-header .section-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-header-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-header-navbar__menu li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
}

.section-header-navbar__menu a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  color: white;
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 5px;
  padding: 11px 17px;
}

.section-header-navbar__menu a:hover {
  background-color: #643a79;
}

.section-header-content {
  margin: 140px auto;
}

.section-header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-header-wrapper__title {
  width: 70%;
  font-size: 42px;
  line-height: 50px;
  font-weight: bold;
  text-align: center;
}

.section-header-wrapper__button {
  margin-top: 70px;
}

.section-header-wrapper__button button {
  padding: 30px 80px;
  text-transform: uppercase;
  color: white;
  background-color: #eb7d4b;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 7px;
}

.section-header-wrapper__button button,
.section-header-wrapper__button button:active,
.section-header-wrapper__button button:focus {
  outline: none;
}

.section-header-wrapper__button button:hover {
  cursor: pointer;
}

.section-services {
  font-family: 'Titillium Web', sans-serif;
  background-color: #17c2a4;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  width: 100%;
}

.section-services-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0 auto;
}

.section-services-intro__title {
  font-size: 40px;
  font-weight: bold;
  margin-top: 55px;
  border-bottom: 4px solid #14a58c;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.section-services-intro-subtitle {
  font-size: 18px;
}

.section-services-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-top: 80px;
}

.section-services-card {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.section-services-card__image {
  margin-bottom: 30px;
}

.section-services-card__name {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.section-services-card__specification {
  width: 60%;
  margin: 0 auto;
}

@media screen and (max-width: 800px) {
  .section-header-navbar__menu a {
    margin: 0;
    padding: 0;
    font-size: 20px;
  }
  .section-header-content {
    margin-top: 50px;
  }
  .section-header-wrapper__title {
    font-size: 30px;
    line-height: 30px;
  }
  .section-header-wrapper__button {
    margin-top: 20px;
  }
  .section-header-wrapper__button button {
    padding: 10px 20px;
  }
  .section-services-intro__title {
    font-size: 30px;
    line-height: 30px;
  }
  .section-services-intro__subtitle {
    width: 50%;
  }
  .section-services-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 50px;
  }
  .section-services-cards .section-services-card {
    height: 330px;
    width: 50%;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 550px) {
  /* Target portrait smartphones */
  .section-header-navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-header-navbar__menu {
    margin-top: 20px;
  }
  .section-header-navbar__menu a {
    margin: 0;
    padding: 0;
    font-size: 20px;
  }
  .section-header-content {
    margin-top: 40px;
  }
  .section-header-wrapper__title {
    width: 80%;
    font-size: 25px;
    line-height: 25 px;
    font-weight: 500;
  }
  .section-header-wrapper__button {
    margin-top: 40px;
  }
  .section-header-wrapper__button button {
    padding: 10px 20px;
    text-transform: lowercase;
  }
  .section-services-intro__title {
    font-size: 25px;
    line-height: 30px;
  }
  .section-services-intro__subtitle {
    width: 80%;
    font-size: 18px;
  }
  .section-services-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section-services-cards .section-services-card {
    height: 330px;
    width: 100%;
    padding-bottom: 20px;
  }
  .section-services-cards .section-services-card__specification {
    font-size: 18px;
  }
}
/*# sourceMappingURL=main.css.map */