$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;

* {
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
    padding: 0;
    margin: 0;
}

.header {
    background-color: #87509c;
}
.wrapper {
    height: 100%;
    max-width: 1170px;
    margin: 0 auto;

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        &__logo {
            margin-top: 60px;
        }

        &__menu {
            margin-top: 60px;
            // margin-left: auto;

            li {
                display: inline-block;
                list-style: none;
            }

            li:not(:last-child) {
                margin-right: 35px;
            }
            
            a {
                text-transform: uppercase;
                text-decoration: none;

                color: white;
                font-size: 16px;

                padding: 10px 15px;
                border-radius: 6px;
                transition: .3s;
            }

            a:hover {
                background-color: #643a79;
            }
        }
    }

    .header-descr {
        text-align: center;
        color: white;
        margin-top: 140px;

        .intro {
            font-size: 40px;
            font-weight: $bold;
        }

        .header-button button {
            margin-top: 60px;
            margin-bottom: 145px;

            text-transform: uppercase;
            font-weight: $semi-bold;
            font-size: 18px;

            color: white;
            background-color: #eb7d4b;

            border: none;
            border-bottom: 5px solid #c86a40;
            border-radius: 8px;
            padding: 20px 70px;
            cursor: pointer;
        }
    }
}