* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
  padding: 0;
  margin: 0;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin-right: 15%;
}

.navbar .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100px;
  z-index: 1;
  background-color: #87509c;
}

.navbar .nav__logo {
  margin-left: 10%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.navbar .nav__menu li {
  display: inline-block;
  list-style: none;
  margin-right: 20px;
}

.navbar .nav__menu a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 6px;
  -webkit-transition: .3s;
  transition: .3s;
}

.navbar .nav__menu a:hover {
  background-color: #643a79;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-color: #87509c;
}

.header-descr {
  text-align: center;
  color: white;
}

.header-descr .intro {
  font-size: 40px;
  font-weight: 700;
}

.header-descr .header-button button {
  margin-top: 60px;
  margin-bottom: 145px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  color: white;
  background-color: #eb7d4b;
  border: none;
  border-bottom: 5px solid #c86a40;
  border-radius: 8px;
  padding: 20px 70px;
  cursor: pointer;
}

.services {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  background-color: #17c2a4;
}

.services .services-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: white;
}

.services .services-intro__title {
  margin-top: 120px;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 700;
}

.services .services-intro__title::after {
  content: '';
  display: block;
  height: 4px;
  width: 8%;
  margin: 15px auto;
  background-color: #14a58c;
}

.services .services-intro__descr {
  width: 50%;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 400;
}

.services .services-row {
  margin-top: 70px;
  max-width: 1170px;
}

.services .services-row-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.services .services-row-cards .card {
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services .services-row-cards .card h3 {
  text-transform: uppercase;
  margin: 30px 0;
}

.services .services-row-cards .card p {
  width: 75%;
  margin: 0 auto;
  margin-bottom: 120px;
}

.team {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #e7f1f8;
}

.team h1, .team h3 {
  text-transform: uppercase;
  color: #3c4761;
}

.team-wrapper {
  margin-top: 120px;
}

.team-intro {
  text-align: center;
  margin-bottom: 85px;
}

.team-intro h1 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 4px;
}

.team-intro h1::after {
  content: '';
  display: block;
  height: 4px;
  width: 8%;
  margin: 15px auto;
  background-color: #c8d9e5;
}

.team-intro p {
  font-size: 18px;
  color: #3c4761;
  font-weight: 400;
}

.team-row-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team-row-card .person-card {
  text-align: center;
}

.team-row-card .person-card img {
  margin-bottom: 40px;
}

.team-row-card .person-card span {
  color: #30bae7;
}

.team-row-card .person-card p {
  width: 60%;
  margin: 20px auto;
  color: #919bac;
}

.team-row-card .person-card .social-net {
  width: 260px;
  margin: 0 auto;
}

.team-row-card .person-card .social-net a:not(:first-child) {
  margin-left: 25px;
}

.skills {
  background-color: #fff;
}

.skills-wrapper {
  margin-top: 120px;
  color: #3c4761;
}

.skills-intro {
  text-align: center;
  margin-bottom: 90px;
}

.skills-intro h1 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
}

.skills-intro h1::after {
  content: '';
  display: block;
  width: 10%;
  height: 4px;
  margin: 10px auto;
  background-color: #dfe8ed;
}

.skills-intro p {
  width: 70%;
  margin: 10px  auto;
}

.skills-progress-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills-progress-cards .progress-card h3 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
}

@media screen and (max-width: 1024px) {
  .navbar .nav__menu li {
    margin-right: 5px;
  }
}
/*# sourceMappingURL=main.css.map */